@{
    ViewBag.Title = "Home Page";
}
<hr />
<style>
    .Despription {
        color: black;
        margin: 5px;
        padding: 10px;
    }
</style>
<body>

    <div class="Despription">
        <h2><i>What We Do?</i></h2>
        <h3>We provide a online health detect system for you </h3>
        <h3>You can <mark>record daliy health</mark> & <mark>appointment with a treatment</mark> to get consultation</h3>
        <h3>Feel free to join in us to detect your health</h3>
        <h4><a href="https://localhost:44363/Account/Register" class="btn btn-primary btn-lg">Register now !</a></h4>
        <h4>
            <i><a href="https://localhost:44363/Account/Login">Already have login now !</a></i>
        </h4>
</div>
</body>

<hr />
<picture>
    <source media="(max-width:639px)" srcset="~/image/picture1.jpg">
    <source media="(max-width:1279px)" srcset="~/image/picture2.jpg">
    <source media="(min-width:1280px)" srcset="~/image/picture.jpg">
    <img src="~/image/picture.jpg">
</picture>
